name: Build and Push Docker Image

on: 
  push:
    branches: 
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GHCR_TOKEN }}

    - name: Set Docker image tag (date+commit)
      id: vars
      run: |
        TAG=$(date +'%Y%m%d-%H%M%S')-$(git rev-parse --short HEAD)
        echo "tag=$TAG" >> $GITHUB_OUTPUT
  
    - name: Build Docker image
      run: docker build -t ghcr.io/eventhorizonsky/hanimetool:${{ steps.vars.outputs.tag }} -t ghcr.io/eventhorizonsky/hanimetool:latest .

    - name: Push Docker image to GitHub Container Registry
      run: docker push ghcr.io/eventhorizonsky/hanimetool:${{ steps.vars.outputs.tag }}

    - name: Push Docker image to GitHub Container Registry with latest tag
      run: docker push ghcr.io/eventhorizonsky/hanimetool:latest

    - name: Logout of GitHub Container Registry
      run: docker logout
